<header>
  <a [routerLink]="['/user', userId, 'website', wid, 'page']"
     class="white">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  Widgets
  <a [routerLink]="['/user', userId, 'website', wid, 'page', pid, 'widget', 'new']"
     class="white">
    <span class="pull-right glyphicon glyphicon-plus"></span>
  </a>
</header>
<div class="container-fluid" appSortable (newIndexes)="reorderWidgets($event)">
  <div class="aj-widget" *ngFor="let widget of widgets">
    <div [ngSwitch]="widget.widgetType">

      <div *ngSwitchCase="'HEADING'">
        <div class="widget-settings">
          <a [routerLink]="['/user', userId, 'website', wid, 'page', pid, 'widget', widget._id]">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
          <span class="glyphicon glyphicon-list"></span>
        </div>
        <h3>{{widget.text}}</h3>
      </div>

      <div *ngSwitchCase="'HTML'">
        <div class="widget-settings">
          <a [routerLink]="['/user', userId, 'website', wid, 'page', pid, 'widget', widget._id]">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
          <span class="glyphicon glyphicon-list"></span>
        </div>
        <div [innerHtml]="widget.text"></div>
      </div>

      <div *ngSwitchCase="'TEXT'">
        <div class="widget-settings">
          <a [routerLink]="['/user', userId, 'website', wid, 'page', pid, 'widget', widget._id]">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
          <span class="glyphicon glyphicon-list"></span>
        </div>
        <div *ngIf="widget.formatted">
          <quill-editor [(ngModel)]="widget.text" name="text"></quill-editor>
        </div>
        <input *ngIf="!widget.formatted && (!widget.rows || widget.rows===1)"
               placeholder="{{widget.placeholder}}" class="form-control"/>

        <textarea *ngIf="!widget.formatted && (widget.rows > 1)"
                  rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
                  class="form-control">{{widget.text}}</textarea>

      </div>

      <div *ngSwitchCase="'IMAGE'">
        <div class="widget-settings">
          <a [routerLink]="['/user', userId, 'website', wid, 'page', pid, 'widget', widget._id]">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
          <span class="glyphicon glyphicon-list"></span>
        </div>
        <img [src] = "widget.url" [style.width]="widget.width" />
        <!--<img class="content" src={{widget.url}} [style.width]="widget.width" />-->
      </div>

      <div *ngSwitchCase="'YOUTUBE'" class="youtube-widget">
        <div class="widget-settings">
          <a [routerLink]="['/user', userId, 'website', wid, 'page', pid, 'widget', widget._id]">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
          <span class="glyphicon glyphicon-list"></span>
        </div>
        <iframe class="content"
                [style.width]="widget.width"
                [src]="sanitizer.bypassSecurityTrustResourceUrl(widget.url)"
                frameborder="0"
                allowfullscreen>

        </iframe>
      </div>
    </div>
  </div>
</div>
<footer>
  <span class="glyphicon glyphicon-play"></span>
  <span class="glyphicon glyphicon-eye-open"></span>
  <a [routerLink]="['/user', userId]"
     class="white">
    <span class="glyphicon glyphicon-user pull-right"></span>
  </a>
</footer>
