<div class="home">
  <div class="white">
    <div class="main-image">
      <img class="self" src="../../../assets/images/abhishek.jpg">
    </div>
    <div class="text-center text-white">
      <h1>Abhishek Jain</h1>
      <h3>CS5610 - Web Development</h3>
    </div>
  </div>
</div>

<div class="container h-container">
  <div>
    <h2 class="about">About Me</h2>
    <p class="text">My name is Abhishek Jain.
      Currently, I am pursuing Masters of Science in Computer Science at Northeastern University.
      I have 4+ years of experience as senior software engineer.
      I have worked on couple of E-commerce Web applications which were built on Ruby on Rails and reactJS.
    </p>
  </div>
  <div>
    <h2 class="about m-t-2">Education and Work Experience</h2>
    <ul class="list-group hidden-md hidden-lg">
      <li class="list-group-item">
        04 August 2008 - Undergraduate
      </li>
      <li class="list-group-item">
        17 July 2012 - First day at VinSol
      </li>
      <li class="list-group-item">
        09 November 2015 - First day at BigBinary
      </li>
      <li class="list-group-item">
        09 January 2017 - Masters at Northeastern University
      </li>
    </ul>
    <div class="Timeline hidden-xs hidden-sm">
      <svg height="5" width="200">
        <line x1="0" y1="0" x2="200" y2="0" style="stroke:#004165;stroke-width:5" />
        Sorry, your browser does not support inline SVG.
      </svg>

      <div class="event1">
        <div class="event1Bubble">
          <div class="eventTime">
            <div class="DayDigit">04</div>
            <div class="Day">
              Moday
              <div class="MonthYear">August 2008</div>
            </div>
          </div>
          <div class="eventTitle">Undergraduate</div>
        </div>
        <div class="eventAuthor"></div>
        <svg height="20" width="20">
          <circle cx="10" cy="11" r="5" fill="#004165" />
        </svg>
        <div class="time">9 : 00 AM</div>
      </div>

      <svg height="5" width="300">
        <line x1="0" y1="0" x2="300" y2="0" style="stroke:#004165;stroke-width:5" />
        Sorry, your browser does not support inline SVG.
      </svg>

      <div class="event2">

        <div class="event2Bubble">
          <div class="eventTime">
            <div class="DayDigit">17</div>
            <div class="Day">
              Thursday
              <div class="MonthYear">July 2012</div>
            </div>
          </div>
          <div class="eventTitle">First day at VinSol</div>
        </div>
        <div class="event2Author"></div>
        <svg height="20" width="20">
          <circle cx="10" cy="11" r="5" fill="#004165" />
        </svg>
        <div class="time2">10 : 00 AM</div>
      </div>

      <svg height="5" width="300">
        <line x1="0" y1="0" x2="300" y2="0" style="stroke:#004165;stroke-width:5" />
        Sorry, your browser does not support inline SVG.
      </svg>

      <div class="event3">

        <div class="event2Bubble">
          <div class="eventTime">
            <div class="DayDigit">09</div>
            <div class="Day">
              Monday
              <div class="MonthYear">November 2015</div>
            </div>
          </div>
          <div class="eventTitle">First day at BigBinary</div>
        </div>
        <div class="event2Author"></div>
        <svg height="20" width="20">
          <circle cx="10" cy="11" r="5" fill="#004165" />
        </svg>
        <div class="time2">10 : 00 AM</div>
      </div>

      <svg height="5" width="300">
        <line x1="0" y1="0" x2="300" y2="0" style="stroke:#004165;stroke-width:5" />
        Sorry, your browser does not support inline SVG.
      </svg>

      <div class="event4">

        <div class="event2Bubble">
          <div class="eventTime">
            <div class="DayDigit">09</div>
            <div class="Day">
              Monday
              <div class="MonthYear">January 2017</div>
            </div>
          </div>
          <div class="eventTitle">Masters at Northeastern</div>
        </div>
        <div class="event2Author"></div>
        <svg height="20" width="20">
          <circle cx="10" cy="11" r="5" fill="#004165" />
        </svg>
        <div class="time2">10 : 00 AM</div>
      </div>

      <svg height="5" width="300">
        <line x1="0" y1="0" x2="300" y2="0" style="stroke:#004165;stroke-width:5" />
        Sorry, your browser does not support inline SVG.
      </svg>

      <div class="now">
        NOW
      </div>


      <svg height="5" width="150">
        <line x1="0" y1="0" x2="150" y2="0" style="stroke:rgba(162, 164, 163, 0.37);stroke-width:5" />
        Sorry, your browser does not support inline SVG.
      </svg>
      <div class="event5 futureGray ">
        <div class="event1Bubble futureOpacity">
          <div class="eventTime">
            <div class="DayDigit">16</div>
            <div class="Day">
              Tuesday
              <div class="MonthYear">Jan 2018</div>
            </div>
          </div>
          <div class="eventTitle">Starting Co-op</div>
        </div>
        <svg height="20" width="20">
          <circle cx="10" cy="11" r="5" fill="rgba(162, 164, 163, 0.37)" />
        </svg>
      </div>
      <svg height="5" width="50">
        <line x1="0" y1="0" x2="50" y2="0" style="stroke:#004165;stroke-width:5" />
      </svg>
      <svg height="20" width="42">
        <line x1="1" y1="0" x2="1" y2="20" style="stroke:#004165;stroke-width:2" />
        <circle cx="11" cy="10" r="3" fill="#004165" />
        <circle cx="21" cy="10" r="3" fill="#004165" />
        <circle cx="31" cy="10" r="3" fill="#004165" />
        <line x1="41" y1="0" x2="41" y2="20" style="stroke:#004165;stroke-width:2" />
      </svg>
    </div>
    <div>
      <h2 class="about">My Projects</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <a href="https://www.konga.com/">
            <img class="self-small" src="https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/001/190/original/VINSOL_PROD_IMAGES_Konga_1.jpg?1477396457">
          </a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a href="http://vinsol.com/fetoru">
            <img class="self-small" src="https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/001/276/original/fetoru_screen1.jpg?1477477660">
          </a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a href="https://www.dealdey.com/">
            <img class="self-small" src="https://s3.amazonaws.com/vinsol-cms/cms-assets/system/asset_versions/attachments/000/001/275/original/VINSOL_PROD_IMAGES_DealDey_1.jpg?147747754">
          </a>
        </div>
      </div>
    </div>
    <div>
      <h2 class="about">Course Links</h2>
      <nav class="text-center">
        <ul class="work">
          <li>
            <a href="https://food-spot.herokuapp.com/">
              <img src="https://matlabprojects.org/wp-content/uploads/2015/02/DSP-Project-250x250.jpg" >
              <span>Project</span>
            </a>
          </li>
          <li>
            <a href="https://jain-abhishek-webdev.herokuapp.com/login">
              <img src="https://3.imimg.com/data3/OB/ML/MY-4288251/embedded-engineering-250x250.jpg">
              <span>Assignment</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/abhishekjain16">
              <img src="https://cacm.acm.org/system/assets/0002/8759/092117_Getty_Large-Scale-Study1.large.jpg?1506007488&1506007487">
              <span>GitHub</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div>
      <h2 class="about">Technical Skills</h2>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <ul class="list-group skills">
            <li class="list-group-item">Ruby</li>
            <li class="list-group-item">Rails</li>
            <li class="list-group-item">Java</li>
            <li class="list-group-item">Python</li>
            <li class="list-group-item">JavaScript</li>
            <li class="list-group-item">Jquery</li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-6">
          <ul class="list-group skills">
            <li class="list-group-item">NodeJS</li>
            <li class="list-group-item">Angular</li>
            <li class="list-group-item">ReactJS</li>
            <li class="list-group-item">BackboneJS</li>
            <li class="list-group-item">MongoDB</li>
            <li class="list-group-item">MySql</li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <h2 class="about">Contact Me</h2>
      <h4 class="text-center text-primary"><span class="glyphicon glyphicon-envelope"></span> jain.ab@husky.neu.edu</h4>
      <h4 class="text-center text-primary"><span class="glyphicon glyphicon-phone"></span> 617--642-1376</h4>
      <h4 class="text-center text-primary"><a href="https://github.com/abhishekjain16"><span class="fa fa-github">GitHub</span></a></h4>
      <h4 class="text-center text-primary"><a href="https://twitter.com/abhi_jain1610"><span class="fa fa-twitter"></span>Twitter</a></h4>
    </div>
  </div>
</div>

