<header>
  <div class="row">
    <div class="col-xs-1">
      <a href="page-list.html" class="white"><span class="glyphicon glyphicon-chevron-left"></span></a>
    </div>
    <div class="col-md-3 hidden-sm hidden-xs">
      <span class="">Pages</span>
      <a href="page-new.html" class="white"><span class="pull-right glyphicon glyphicon-plus"></span></a>
    </div>
    <div class="col-xs-11 col-md-8">
      Edit Page
      <a href="page-list.html" class="white"><span class="pull-right glyphicon glyphicon-check"></span></a>
    </div>
  </div>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 hidden-sm hidden-xs">
      <ul class="list-group">
        <li class="list-group-item">
          <a href="../widget/widget-list.html">Blogs</a>
          <a class="pull-right" href="page-edit.html">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        </li>
        <li class="list-group-item">
          <a href="../widget/widget-list.html">Home</a>
          <a class="pull-right" href="page-edit.html">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        </li>
        <li class="list-group-item">
          <a href="../widget/widget-list.html">Categories</a>
          <a class="pull-right" href="page-edit.html">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-8">
      <label class="label"
             for="name">
        Name
      </label>
      <input type="text"
             id="name"
             class="form-control"
             value="Blog"
             placeholder="Name" />
      <label for="title"
             class="label">
        Title
      </label>
      <input class="form-control"
             id="title"
             value="Page title"
             type="text"
             placeholder="Title" />
      <a href="page-list.html"
         class="btn btn-danger btn-block">
        Delete
      </a>
    </div>
  </div>
</div>
<footer>
  <a href="../user/profile.html"
     class="white">
    <span class="glyphicon glyphicon-user pull-right"></span>
  </a>
</footer>
