<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../css/main.css" />
    <title>Website</title>
</head>
<body>
<header>
  <div class="row">
    <div class="col-md-4 hidden-sm hidden-xs">
      <a href="../user/profile.html" class="white"><span class="glyphicon glyphicon-chevron-left"></span></a>
      Websites
      <a href="website-new.html" class="white"><span class="pull-right glyphicon glyphicon-plus"></span></a>
    </div>
    <div class="col-xs-12 col-md-8">
      New Website
      <a href="website-list.html" class="white"><span class="pull-right glyphicon glyphicon-check"></span></a>
    </div>
  </div>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 hidden-sm hidden-xs">
      <ul class="list-group">
        <li class="list-group-item">
          <a href="../page/page-list.html">Wikipedia</a>
          <a class="pull-right" href="website-edit.html">
            <span class="glyphicon glyphicon-edit"/>
          </a>
        </li>
        <li class="list-group-item">
          <a href="../page/page-list.html">Twitter</a>
          <a class="pull-right" href="website-edit.html">
            <span class="glyphicon glyphicon-edit"/>
          </a>
        </li>
        <li class="list-group-item">
          <a href="../page/page-list.html">Facebook</a>
          <a class="pull-right" href="website-edit.html">
            <span class="glyphicon glyphicon-edit"/>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-8">
      <label class="label"
             for="name">
        Name
      </label>
      <input type="text"
             id="name"
             class="form-control"
             placeholder="Name" />
      <label for="description"
             class="label">
        Description
      </label>
      <textarea class="form-control"
                id="description"
                rows="3"
                placeholder="Description"></textarea>
    </div>
  </div>
</div>
<footer>
  <a href="../user/profile.html" class="white">
    <span class="glyphicon glyphicon-user pull-right"></span>
  </a>
</footer>

</body>
</html>
