<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.25, user-scalable=no">
  <link rel="stylesheet" href="../../vendors/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../css/main.css" />
  <script type="application/javascript" src="../../vendors/bootstrap/dist/js/bootstrap.min.js"> </script>
  <title>Website List</title>
</head>
<body>
<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item active">
      Name
    </li>
    <li class="list-group-item">
      Wikipedia
      <a class="pull-right" href="webiste-edit.html">
        <span class="glyphicon glyphicon-edit"/>
      </a>
    </li>
    <li class="list-group-item">
      Facebook
      <a class="pull-right" href="webiste-edit.html">
        <span class="glyphicon glyphicon-edit"/>
      </a>
    </li>
    <li class="list-group-item">
      Twitter
      <a class="pull-right" href="webiste-edit.html">
        <span class="glyphicon glyphicon-edit"/>
      </a>
    </li>
  </ul>
</div>
</body>
</html>
