<header>
  <a href="widget-list.html" class="white"><span class="glyphicon glyphicon-chevron-left"></span></a>
  Edit Widget
  <a href="widget-edit.html" class="white"><span class="pull-right glyphicon glyphicon-check"></span></a>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <label class="label"
             for="name">
        Name
      </label>
      <input type="text"
             id="name"
             class="form-control"
             value="Blogs"
             placeholder="Name" />
      <label class="label"
             for="text">
        Text
      </label>
      <input type="text"
             id="text"
             class="form-control"
             value="This is about widget text"
             placeholder="text" />
      <label class="label"
             for="size">
        Size
      </label>
      <input type="text"
             id="size"
             class="form-control"
             value="3"
             placeholder="size" />
      <a href="widget-list.html"
         class="btn btn-danger btn-block">
        Delete
      </a>
    </div>
  </div>
</div>
<footer>
  <a href="../user/profile.html"
     class="white">
    <span class="glyphicon glyphicon-user pull-right"></span>
  </a>
</footer>
