<div class="container-fluid">
  <h1>Register</h1>

  <input type="text"
         class="form-control"
         placeholder="Username" />

  <input type="password"
         class="form-control"
         placeholder="Password" />

  <input type="password"
         class="form-control"
         placeholder="Verify Password" />

  <a href="profile.html"
     class="btn btn-primary btn-block"
     value="Register">
    Register
  </a>
  <a href="login.html"
     class="btn btn-danger btn-block">
    Cancel
  </a>
</div>
