<header>
  <a href="../page/page-list.html" class="white"><span class="glyphicon glyphicon-chevron-left"></span></a>
  Edit Widget
  <a href="widget-edit.html" class="white"><span class="pull-right glyphicon glyphicon-check"></span></a>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <label class="label"
             for="name">
        Name
      </label>
      <input type="text"
             id="name"
             class="form-control"
             value="Image Name"
             placeholder="Name" />
      <label class="label"
             for="text">
        Text
      </label>
      <input type="text"
             id="text"
             class="form-control"
             value="This is about widget text"
             placeholder="text" />
      <label class="label"
             for="url">
        URL
      </label>
      <input type="text"
             id="url"
             class="form-control"
             value="http://www.images.com/tiger.jpeg"
             placeholder="url" />
      <label class="label"
             for="width">
        Width
      </label>
      <input type="text"
             id="width"
             class="form-control"
             value="100%"
             placeholder="width" />
      <label class="label"
             for="image">
        Upload
      </label>
      <input type="file"
             id="image"
             class="form-control"
             placeholder="width" />
      <input type="submit"
             value="Upload Image"
             class="btn btn-block btn-primary">
      <a href="widget-list.html"
         class="btn btn-danger btn-block">
        Delete
      </a>
    </div>
  </div>
</div>
<footer>
  <a href="../user/profile.html"
     class="white">
    <span class="glyphicon glyphicon-user pull-right"></span>
  </a>
</footer>
