<header>
  <a [routerLink]="['/user', userId, 'website', wid, 'page', pid, 'widget']"
     class="white">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  Edit Widget
  <a (click)="update()"
     [routerLink]="['/user', userId, 'website', wid, 'page', pid, 'widget']"
     class="pull-right white">
    <span class="pull-right glyphicon glyphicon-check"></span>
  </a>
</header>
<div class="container-fluid">
  <form>
    <div class="form-group">
      <label for="url">
        URL
      </label>
      <input [(ngModel)]="url"
             name="url"
             required
             type="url"
             required
             class="form-control"
             id="url"
             placeholder="http://image.com/image.jpeg">
    </div>
    <div class="form-group">
      <label for="width">
        Width
      </label>
      <input [(ngModel)]="width"
             name="width"
             required
             type="text"
             required
             class="form-control"
             id="width"
             placeholder="100%">
    </div>
    <div class="form-group">
      <a (click)="delete()"
         class="btn btn-danger btn-block "
         [routerLink]="['/user', userId, 'website', wid, 'page', pid, 'widget']">
        Delete
      </a>
    </div>
  </form>
</div>
<footer>
  <a [routerLink]="['/user', userId]"
     class="white">
    <span class="glyphicon glyphicon-user pull-right"></span>
  </a>
</footer>
