
<header>
  <a [routerLink]="['/user', userId, 'website', wid, 'page', pid, 'widget']"
     class="white">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  Edit Widget
</header>
<div class="container-fluid">
  <form ngNoForm action="{{baseUrl}}/api/upload" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label>
        Upload Image
      </label>
      <input name="myFile" type="file" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="width">
        Width
      </label>
      <input [(ngModel)]="width"
             name="width"
             required
             type="text"
             required
             class="form-control"
             id="width"
             placeholder="100%">
    </div>
    <input  name="widgetId" value="{{wgid}}"   style="display: none"/>
    <input  name="websiteId" value="{{wid}}"   style="display: none"/>
    <input  name="pageId" value="{{pid}}"   style="display: none"/>
    <input  name="userId" value="{{userId}}"   style="display: none"/>
    <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
    <br/>
    <div class="form-group">
      <a (click)="delete()"
         class="btn btn-danger btn-block "
         [routerLink]="['/user', userId, 'website', wid, 'page', pid, 'widget']">
        Delete
      </a>
    </div>
  </form>
</div>
<footer>
  <a [routerLink]="['/user', userId]"
     class="white">
    <span class="glyphicon glyphicon-user pull-right"></span>
  </a>
</footer>
